<header class="main-header">
    <nav class="main-header__nav">
        <ul class="main-header__item-list">
            <li class="main-header__item">
                <a class="" href="/blogs">All Blogs</a>
            </li>
            <li class="main-header__item">
                <a class="" href="/blogs/create-blog">Create Blog</a>
            </li>
            <li class="main-header__item">
                <a class="" href="/admin/signup">SignUp</a>
            </li>
            <li class="main-header__item">
                <a class="" href="/admin/login">Login</a>
            </li>
        </ul>
    </nav>
</header>